.image-fluid{
	height: 300px;	
}
.navbar-nav{
	font-size: 20px;
}
.navbar-nav .nav-link{
	padding-right: 0.5rem;
}
.navbar-dark .navbar-nav .nav-link{
	color: white;
}
.dropdown-item{
	color: white;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: yellow;
}
.dropdown:hover .dropdown-menu{
	display: block;
}
.product-heading h1{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 30px;
	font-family: cursive;
}
.card{
	width: 250px;
	margin-left: 5px;
	line-height: 2px;
	border: none;
}
.view{
	margin-left: 20px;
	margin-top: 60px;
	width: 70px;
}
.card-view{
	margin-top: -20px;
	margin-left: -60px;
	width: 150px;
	color: black;
	font-size: 22px;
}
.card-view a{color: black;}
.card-view a:hover{color: blue;}
.card-view:hover{
	color: blue;
}
.card-img-top{
	margin: 1px auto;
	display: block;
}
.card:hover{
	transform: scale(0.9);
	z-index: 2;
}
.card-body{
	text-align: center;
}
.card-body a:hover{
	text-decoration-line: none;
}
.card-text{
	color: green;
}


@media only screen and(max-width: 850px){
	.logo{
		width: 60px;
		height: 60px;
	}
	.navbar-brand{
		margin-left: -100px;
		font-size: 30px;
	}
	.image-fluid{
		height: 200px;
	}
	.product-heading h1{
		margin-left: 15px;
		font-size: 25px;
		font-weight: bold;
	}
	.card{
		width: 170px;
		margin-left: 7px;
		line-height: 2px;
		border: none;
	}
	.card-img-top1{
		display: none;
	}
	.card-title{
		font-size: 22px;
	}
	.view{
		display: none;
	}
}